@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    background-color: #303443;
    font-family: "Pangolin";
    display: flex;
    flex-direction: column;
}

.container {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.content {
    display: flex;
}

.panel {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

.player-panel,
.computer-panel {
    margin: 2em 3em;
    flex: 1;
    justify-content: flex-end;
}

.panel-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.panel-imgs img {
    filter: grayscale(100%);
}

.panel img {
    width: 100%;
    height: auto;
    min-width: 150px;
    max-width: 250px;
}

.player-panel button,
.computer-panel button {
    border: none;
    background-color: transparent;
    width: 100%;
    height: auto;
    min-width: 150px;
    max-width: 250px;
}

.player-button:hover {
    cursor: pointer;
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    filter: none;
    transition: all .3s;
}

.middle-panel {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex: 2 2 0;
}

.middle-panel h1 {
    font-size: 50pt;
}

.score-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.player-wins,
.computer-wins {
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px;
    gap: 20px;
}

.rounds {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.player-wins h2,
.computer-wins h2,
.rounds h2 {
    margin: 0;
}

#play-again-button {
    color: white;
    background-color: #303443;
    border: 2px solid white;
    border-radius: 5px;
    font-family: "Pangolin";
    font-size: 20pt;
    padding: 5px;
    margin: 10px;
    display: none;
}

#play-again-button:hover {
    cursor: pointer;
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    transition: all .1s;
}

.creator-info {
    height: auto;
    display: flex;
    gap: 5px;
    justify-self: flex-end;
    align-items: center;
}

.creator-info img {
    height: 24px;
    width: auto;
}

.creator-info img {
    align-self: center;
}

a {
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}